a {
    text-decoration-line: none;
}
#final {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(223, 178, 120);
    padding: 15px 15px;
    border-radius: 10px;
    border-color:rgb(255, 212, 71);
    font-size: 20px;
}

h2 {
    margin-top: 50px;
    text-align: center;
}

#chartdiv {
    width: 95%;
    height: 500px;
}

img {
    margin-top: 100px;
    display: inline-block;
}

#week {
    color: darkgreen;
    margin-bottom: 10px;
    font-size: large;
    margin-left: 10px;
}

#e {
    margin-left: 10px;
}