h2 {
    margin-top: 50px;
    text-align: center;
}

#chartdiv {
    width: 95%;
    height: 500px;
}

img {
    margin-top: 100px;
    display: inline-block;
}

#week {
    color: darkgreen;
    margin-bottom: 10px;
    font-size: large;
}